*{
    scroll-behavior: smooth;
}

.custom-theme img{
    width: 25px;
}

#theme-btn{
    background-color: white;
}

.custom-land-cont{
    background-image: url(img/IMG_6738.JPG) !important;
    background-size: cover;
}

#intro{
    padding: 5rem 8rem;
}

.custom-txt-color{
    color: rgb(179, 0, 30) !important;
}

.link-icons img{
    width: 2rem !important;
}

#intro li{
    list-style: none;
    margin: 0px 5px;
}

#intro button{
    height: 2.5rem;
    width: 10rem;
}

#intro button:hover{
    background-color: rgb(29, 29, 255) !important;
}

#intro button a{
    text-decoration: none;
}

#dp{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
}

#dp:hover{
    cursor: pointer;
    /* transform: scale(1.1) */
}

#about p{
    text-align: center;
    font-size: 18px;
    margin-top: 4rem;
}

mark{
    background-color: rgb(255, 255, 98) !important;
}

#contact{
    width: 99%;
    height: 800px;
}

#contactcard{
    width: 400px;
    height: 500px;
    margin: 100px auto;
    /* border: 2px solid green; */
    border-radius: 20px;
    background-color: rgb(252, 252, 252);
    font-size: 20pxs;
}

#contactcard form{
    /* border: 2px solid red; */
    padding: 50px 20px;
}

#name, #email{
    width: 90%;
    height: 30px;
    border: none;
    margin-top: 5px;
}

#message{
    width: 90%;
    height: 100px;
    border: none;
    margin-top: 5px;
}

#contactcard button{
    background-color: rgb(0, 156, 0);
    border: none;
    width: 90px;
    height: 35px;
    color: white;
    border-radius: 5px;
}

#contactcard button:hover{
    background-color: rgb(0, 100, 0);
    cursor: pointer;
}

#contact a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 200px;
    /* margin: 0px auto; */
}

#contactcard:hover{
    /* box-shadow: 4px 4px 20px black; */
    cursor: pointer;
}
